.education {
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .education-title {
      font-size: 16px;
  }
  
  .description {
    font-size:13px;
    font-family: "Source Sans Pro", sans-serif;
  }


  .headline-big {
    font-size: 3.5rem;
    font-weight: var(--font-bold);
    padding-bottom: 0.2em;
    line-height: 1.2em;
    color: var(--text-dark);
    width: 690px;
    height: 78px;
}

.header-body {
    line-height: 2em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 690px;
    height: 108px;
}
